<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="./dev/main.css">
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!--最新版ui-route 才有component部分-->
    <!--<script src="//npmcdn.com/angular-ui-router@1.0.0-alpha.4/release/angular-ui-router.js"></script>-->
    <script src="./dev/bundle.js"></script>
</head>
<body ng-controller="main">
<div class="header">
    <h1>todo</h1>
</div>
<div class="container">
    <div class="mainipt">
        <form>
            <div class="check-todo">
                <input type="checkbox" id="checkall"  ng-click="checkAll()" ng-model="checkedAll">
                <label for="checkall" class="for-all" ng-show="model.showCheckAll"></label>
            </div>
            <input type="text" ng-keyup="myKeyup($event,1)" ng-model="model.newTodo" class="newtodo"
                   placeholder="What need to be done?">
        </form>
    </div>
    <div class="items">
        <todo-item ng-repeat="item in todos|filter:statusFilter track by $index " is-checked="item.completed"
                   txt="item.title" ng-init="model.editable[$index+1]=false" edit="model.editable[$index+1]" key-up="saveTodo()" id="{{$index}}"
                   remove-todo="removeTodo(item)" edit-todo="editTodo(item,$index+1)" blur="saveTodo()"
        >
        </todo-item>

    </div>
</div>
<div class="footer" ng-show="model.showCheckAll">
    <span class="sp-count">
        {{remainingCount}}
        <span class="sp-label"> item left</span></span>

    <ul>
        <li><a ui-sref="status({status:'all'})" ui-sref-active="ui-active">All</a></li>
        <li><a ui-sref="status({status:'active'})" ui-sref-active="ui-active">Active</a></li>
        <li><a ui-sref="status({status:'completed'})" ui-sref-active="ui-active">Completed</a></li>

    </ul>
    <button ng-click="clearTodo()" class="clear-completed" ng-show="compeletedCount>0">Clear completed (<span ng-bind="compeletedCount"></span>)
    </button>
</div>
</body>
</html>