<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div *ngFor="let question of questions " class="form-row">
            <df-question [question]="question" [form]="form"></df-question>
        </div>
        <div class="form-row">
            <button type="submit" [disabled]="!form.valid">save</button>
        </div>
    </form>
    <div *ngIf="payload" class="form-row">
        <strong> Saved the following values </strong><br>{{payload}}
    </div>
</div>
<a routerLink="./simpleform" >simple Form</a>

<router-outlet></router-outlet>