{
  "extends": "an",
  "rules": {
    "no-param-reassign": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0
  },
  "globals": {
    "window": true,
    "___TESTING___": true,
    "___SERVERRENDER___": true,
    "__STATIC__": true,
    "__DEV__": true
  }
}
